<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkerboard</title>
    <style>
        .box1 {
            background-color: red;
            width: 50px;
            height: 50px;
            display: inline-block;
        }

        .box2 {
            background-color: black;
            width: 50px;
            height: 50px;
            display: inline-block;
        }
    </style>
</head>
<body>
    {% for i in range(times1) %}
    <div class="group">
        {% for j in range(times2) %}
        <div class="box{{(i+j)%2+1}}"></div>
        {% endfor %}
    </div>
    {% endfor %}
</body>
</html>