<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Login</title>
</head>
<body>
    <div class="mycontainer">
        <h1>Homepage</h1>
        <div id="mainhead">
            <h1>Welcome, {{specified_user.first_name}} </h1>
        </div>
        <a id="subhead" href="/log_out">Log Out</a>
    </div>
    <div class="welcomecontainer">
        <div class="col">
            <div class="stack">
                <!-- <h1>Title2:</h1> -->
                <form class="modules" action='' method='post'>
                    {% csrf_token %}
                    {% if messages %}
                    <ul class="messages">    
                        {% for message in messages %}    
                        <li>{{ message }}</li>    
                        {% endfor %}
                    </ul>
                    {% endif %}
                </form>
            </div>
        </div>
        <!-- <div class="col">
            <h1>Title2</h1>
            <div class="modules">
            </div>
        </div> -->
    </div>

    </body>
</html>